

<div id="login"> 



    <a style="display:none" id="back" class-num="2" data-icon="arrow-l" >Back</a>
    <form id="form_login" action="" method="">

        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="txtuser">Usuario:</label>
            <input type="text" name="txtuser" id="txtuser" value="" placeholder="Name" />
        </div>


        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="txtpassword">Contraseña:</label>
            <input type="password" name="txtpassword" id="txtpassword" value="" placeholder="Password" />
        </div>
        <a  href="#options" id="myoptions"><input type="button" value="Login" id="btnLogin"/></a>
        
    </form>
           

</div>