    



    <div data-role="page" id="login">

      <div data-role="header" data-theme="b" data-position="fixed">
          <a href="#home" data-icon="home" data-iconpos="notext">Home</a>
          <h1>About</h1>
          <a href="#home" data-icon="arrow-l" data-rel="back">Back</a>
      </div>

      <div data-role="content" class="section">
          <p>Share your favorite URLs with other mobile phone users through QR codes.</p>
          <div id="templates" style="display: none;"></div>
      </div>

      <div data-role="footer" class="ui-bar" data-theme="b" data-position="fixed" data-id="footer">
          <a href="#about" data-icon="info">About</a>
      </div>
      
    </div>