
<div id="tituauth">

        <header data-role="header" data-theme="b">
            <h1>Autenticacion</h1>
        </header>
</div>

<div id="authi">
            <a style="display:none" id="back" class-num="2" data-icon="arrow-l" >Back</a>
            <form id="form_login" action="" method="">
                <p> ingrese el codigo de ingreso</p>
                <div data-role="fieldcontain" class="ui-hide-label">
                    <label for="txtuser">Codigo:</label>
                    <input type="text" name="txtcode" id="txtcode" value="" placeholder="Code" />
                </div>


                <a id="particip2" datum="0" datumo="0" href="#evento1-interactiv-t1"><input type="button" value="Ingresar" id="btnLogin"></a>
            </form>
             <!--<div id="errorMsg" style="background-color:red;color: #FFFFFF;">Usuario o Contraseña no valida</div>-->

</div>