					
<div id="topdeta" >

	<div id="titema">
				<h1>{{name}}</h1>
	</div>

	<div id="tema">
				<a style="display:none" id="back" class-num="4" data-icon="arrow-l" >Back</a>
				<div data-role="controlgroup">
					<a datum="{{idev}}" datumo="{{idtem}}" id="particip" 
						class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c" 
						data-theme="c" 
						data-wrapperels="span" 
						data-iconshadow="true" 
						data-shadow="true" data-corners="true"  data-role="button" data-transition="flow" data-inline="true"><span class="ui-btn-inner ui-btn-corner-all" style="background: #5aab25;	text-shadow: 0 -1px 1px #397114; color: white;"><span class="ui-btn-text">Participar</span></span></a>
					
					<a href="expositor.html" data-role="button">Ver Expositor</a>
					
					
				</div>
				<strong> Salon:</strong><p>{{room}}</p>
				<strong> Hora Inicio:</strong><p>{{h_inicio}}</p>
				<strong>descripcion:</strong><p> {{desc}}</p>



	</div>			
				
</div>
