

<div id="tinteractiv">
				
				<h1>Criptografia de Hoy</h1>
</div>

<div id="interact">

				<div id="this" class="quests" >
					<div data-role="controlgroup" class="lotu">
						<!--<div id="goin" class="1 goin">ir a la pregunta</div>-->

						<a id="goin"  data-role="button">Contestar Pregunta</a><!--href="preg-resolv.html"-->
						<a id="pregunt" href="#preg-hacer" data-role="button">Realizar Pregunta</a>
					</div>
				
				
					<div class="ui-bar ui-bar-e ui-shadow ui-btn-corner-all ui-btn-up-e" data-theme="e" data-wrapperels="span" data-iconshadow="true" data-shadow="true" data-corners="true" >En Vivo</div>

				</div>
				<div id="templates22" style="display: none;"></div>

</div>








