





<div id="evdeta">
	<div id="evtitle">
		<!--<h1>VI Simposio Telecom</h1>-->
		{{name}}
	</div>
					

	<div id="descevento">
					<a style="display:none" id="back" class-num="7" data-icon="arrow-l" >Back</a>
					<!--<a href="evento1-charla1.html" data-role="button">Ir Siguiente Charla</a>-->
						
					<strong>descripcion:</strong><p> {{desc}}</p>
					<strong> Lugar:</strong><p>{{lugar}}</p><!--Auditorio del Sindicato Unitario de Trabajadores de Telefónica del Perú, Av. Uruguay # 335, Lima, Lima, Lima Region</p>
						-->

					<div data-role="controlgroup" class="idtema">
						<a id="temas" data-tem="{{idev}}" href="#ev-temas" data-role="button">Temas</a>
						<a id="horario" href="#ev-horario" data-role="button">Horario</a>
						<a id="fencuesta" href="#ev-encuesta" data-role="button">Encuesta Final</a>
					</div>
	</div>

</div>