
<div id="evdeta">
	<div id="evtitle">
		<!--<h1>VI Simposio Telecom</h1>-->
		{{name}}
	</div>
					

	<div id="descevento">
					<a style="display:none" id="back" class-num="7" data-icon="arrow-l" >Back</a>
					<!--<a href="evento1-charla1.html" data-role="button">Ir Siguiente Charla</a>-->
						
					<strong>descripcion:</strong><p> {{desc}}</p>
					<strong> Lugar:</strong><p>{{lugar}}</p><!--Auditorio del Sindicato Unitario de Trabajadores de Telefónica del Perú, Av. Uruguay # 335, Lima, Lima, Lima Region</p>
						-->

					<div data-role="controlgroup" class="idtema">
						<a id="temas" data-tem="{{idev}}" href="ev-temas" data-role="button">Temas</a>
						<a id="sponsor" href="ev-sponsors" data-role="button">Sponsors</a>
						<a id="horario" href="ev-horario" data-role="button">Horario</a>
					</div>

					<a id="particip" href="#autentific" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c" data-theme="c" data-wrapperels="span" data-iconshadow="true" data-shadow="true" data-corners="true"  data-role="button" data-transition="flow" data-inline="true">

						<span class="ui-btn-inner ui-btn-corner-all" style="background: #5aab25;	text-shadow: 0 -1px 1px #397114; color: white;">
							<span class="ui-btn-text">Seguir Tema</span>
						</span>
					</a>
	</div>

</div>