<!--
		<section data-role="page">
			<header data-role="header">
				<h1>PIETReal</h1>
				<a href="index.html" data-icon="gear" class="ui-btn-right">Options</a>

				
				<span class="ui-title" />
			</header>
-->
			<!-- /header -->
			<!--
			<article data-role="content">

			-->
<div id="logmain">
			<div id="tprincipal">
			PIETReal Events of {{nombre}} {{apellido}}
			</div>
			<div id="logstart">
				<a style="display:none" id="back" class-num="3" data-icon="arrow-l" >Back</a>
				<a href="#misev" id="misev" data-user="{{userid}}" data-role="button">Mis Eventos</a>
				<a href="#prox" id="proxev" data-role="button">Ver Proximos</a>

			</div>
</div>
				<!-- /botones, lista y formulario

				<a href="#" data-role="button" data-icon="star">Star button</a>
				<a href="#" data-role="button" data-icon="star" data-theme="a">Button</a>

				<ul data-role="listview" data-inset="true" data-filter="true">
					<li><a href="#">Acura</a></li>
					<li><a href="#">Audi</a></li>
					<li><a href="#">BMW</a></li>
					<li><a href="#">Cadillac</a></li>
					<li><a href="#">Ferrari</a></li>
				</ul>


				<form>
					<label for="slider-0">Input slider:</label>
					<input type="range" name="slider" id="slider-0" value="25" min="0" max="100" />
				</form>
				-->
<!--
			</article>
-->
			<!-- /content -->

<!--
			<footer data-role="footer">
				<h4>By Group 1ner</h4>
			</footer>
			-->
			<!-- /footer -->
			<!--
		</section>
			-->
			<!-- /page -->