

<div id="login"> 
       <!-- <article data-role="content" data-theme="b">-->


<a style="display:none" id="back" class-num="2" data-icon="arrow-l" >Back</a>
<form id="form_login" action="" method="">
    <!--<div style="display:none" id="token" data-t="{{result}}"></div>-->
    <div data-role="fieldcontain" class="ui-hide-label">
        <label for="txtuser">Usuario:</label>
        <input type="text" name="txtuser" id="txtuser" value="" placeholder="Name" />
    </div>


    <div data-role="fieldcontain" class="ui-hide-label">
        <label for="txtpassword">Contraseña:</label>
        <input type="password" name="txtpassword" id="txtpassword" value="" placeholder="Password" />
    </div>
    <a  href="#options" id="myoptions"><input type="button" value="Login" id="btnLogin"/></a>
    <!-- href="principal_particip.html" -->
</form>
           



             <!--<div id="errorMsg" style="background-color:red;color: #FFFFFF;">Usuario o Contraseña no valida</div>-->
        <!--</article>-->


        <!--    PANELES --><!--
<div id="paneli">
        <div data-role="panel" 
            id="left-panel" 
            data-display="overlay" 
            data-position="left" 
            data-theme="b">

            <ul data-role="listview" data-theme="d" data-icon="false">
                <li data-icon="delete">
                    <a href="#" data-rel="close">Close</a></li>

                <li data-role="list-divider">
                    Menu</li>
                <li>
                    <a href="index.html">home</a></li>
                <li>
                    <a href="#">Ayuda</a></li>
            </ul>
        </div>
</div>-->

</div>