

<h2 id="headertitulo">
    {{nombre}}
</h2>


  <div id="inplaces">
              <input type="radio" name="radio-choice" id="radio-choice-{{idalternativa}}" value="choice-{{idalternativa}}" checked="checked" />
              <label for="radio-choice-{{idalternativa}}">{{nombre}}</label>
  </div>



<div id="template32" >
    <fieldset data-role="controlgroup" id="{{idpregunta}}">
         <legend >{{nombre}}</legend>
              <div id="lege">
                   
              </div>
    </fieldset>
    <a id="resolv" href="#" data-role="button" data-theme="a">Responder</a>

</div>
