

<h2 id="headertitulofinal">
    {{nombre}}
</h2>


  <div id="inplacesfinal">
              <input type="radio" name="radio-choicef" id="radio-choicef-{{idalternativa}}" value="choice-{{idalternativa}}" checked="checked" />
              <label for="radio-choicef-{{idalternativa}}">{{nombre}}</label>
  </div>



<div id="templatefinal" >

    <fieldset data-role="controlgroup" id="{{idpregunta}}">
         <legend >{{nombre}}</legend>
              <div id="legef">
                   
              </div>
    </fieldset>
    <a id="resolvn" href="#ev-encuesta" data-tem="0" data-role="button" data-theme="a">Siguiente</a>
    <a id="resolvf" href="#ev-encuesta" data-tem="0" data-role="button" data-theme="a" style="display:none;">finalizar</a>
</div>
