<div id ="thacer">
				<h1>Criptografia de Hoy</h1>
</div>

<div id="hacerpreg">
				<a style="display:none" id="back" class-num="71" data-icon="arrow-l" >Back</a>
<!--	
				<div data-role="fieldcontain">

				<label for="basic">Titulo:</label>
    				<input type="text" name="name" id="basic" value=""  />
				<label for="textarea">Pregunta:</label>
					<textarea name="textarea" id="textarea"></textarea>

					<a href="evento1-interactiv-t1.html" data-role="button" data-theme="a" >Enviar</a>

					</div>-->

				<form id="form_pregu" class="1"action="" method=""><!-- class= id tema -->
					<div data-role="fieldcontain" >

				<label for="pname">Pregunta:</label>
    				<input type="text" name="pname" id="basic" value=""  /><br>
				<label for="ptextarea">Detalle pregunta:</label>
					<textarea name="ptextarea" id="textarea"></textarea>


					<a id="pregu" href="" ><input data-role="button" data-theme="a" type="submit" value="Enviar"></a>

					</div>
				</form>
				
</div>
